.sub{font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.L{font: 15px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.XL{font: 17px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.XXL{font: 23px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.XXXL{font: 13px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.custom_color{font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.uma{font: 15px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#ff0000;}
.swetah{font: 15px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#0000ff;}
.red10{font: 24px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#ff0000;}
.a-e{font: 16px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#ff0000;}
